<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nuevo Producto - Admin</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <!-- R.2. Encabezado Obligatorio (Logo, Nombre, Integrantes y Nav) -->
    <header class="header">
        <div class="header-container">
            <span class="logo">👕 UrbanStyle</span>
            <span class="app-name">Autoservicio Kiosko</span>
            <nav class="nav">
                <a href="/">Ir al Kiosco</a>
            </nav>
            <span class="student-names">Axel Castellano & Saulo Fernández</span>
        </div>
    </header>
    
    <main class="login-container">
        <div class="login-card">
            <h1>Cargar Nuevo Producto</h1>
            <p class="subtitle">Back-Office Administrativo</p>

            <!-- Completá acá abajo la acción, el método y el enctype -->
            <form action="/admin/productos/nuevo" method="POST" enctype="multipart/form-data" class="login-form"><!--action: a donde queremos reenviarlo | method: que peticion HTTP vamos a usar, en este caso post | enctype: convierte en binario las imagenes-->
                <div class="form-group">
                    <label for="nombre">Nombre del Producto</label>
                    <input type="text" id="nombre" name="nombre" placeholder="Ej: Remera Classic" required>
                </div>

                <div class="form-group">
                    <label for="descripcion">Descripción</label>
                    <textarea id="descripcion" name="descripcion" placeholder="Detalles del producto..." rows="3" required></textarea>
                </div>

                <div class="form-group">
                    <label for="precio">Precio</label>
                    <input type="number" id="precio" name="precio" placeholder="0.00" step="0.01" min="0" required>
                </div>

                <div class="form-group">
                    <label for="categoria">Categoría</label>
                    <select id="categoria" name="categoria" required>
                        <option value="" disabled selected>Seleccione una categoría</option>
                        <option value="Remeras">Remeras</option>
                        <option value="Pantalones">Pantalones</option>
                    </select>
                </div>

                <div class="form-group">
                    <label for="imagen">Imagen del Producto</label>
                    <input type="file" id="imagen" name="imagen" accept="image/*" required>
                </div>

                <button type="submit" class="btn btn-primary">Cargar Producto</button>
            </form>
        </div>
    </main>
</body>
</html>